---
layout: page
---

<div class="post-content" style="text-align: justify;">
  &nbsp;&nbsp;&nbsp;Open-source AI-specific licenses represent a new form of social contract in the digital age,
  introducing complexities and multidimensional challenges for license compatibility detection. Unlike traditional SPDX licenses, 
  open-source AI models adopt a hierarchical licensing framework encompassing global licenses and component licenses (<strong>Code, Weights, Data</strong>), 
  along with novel clauses such as technical constraints, commercial restrictions, and ethical responsibilities.
  These unique characteristics render conventional license compatibility detection tools ineffective. <br/>
  &nbsp;&nbsp;&nbsp;This paper introduces
  <a href="https://liscanai.github.io/LiScanAI/"><strong>LiScan.AI</strong></a>, the first LLM-powered framework detecting license incompatibilities for AI artifacts through: 
  (1) License-aware Model Derivation (LMD) Graphs modeling cross-model dependencies, 
  (2) legal-validated SPDX/AI license term taxonomies, and
  (3) LLM-powered semantic analysis of unstructured text. 
  It identifies conflicts in standard obligations and AI-specific constraints (technical/commercial/ethical), 
  integrating insights from evolving AI licensing paradigms.<br/>
  &nbsp;&nbsp;&nbsp;Our evaluation results show that
  <strong>LiScan.AI</strong> significantly outperforms existing approaches (achieving 89.7% Precision and 87.8% Recall) in detecting license incompatibilities. 
  Our analysis of 1,528,095 models reveals widespread issues, with 37.5% of global-component license pairs and 80.7% of derivative models showing incompatibilities. 
  In real-world validation, we reported <strong>114 issues detected by LiScan.AI to Hugging Face developers</strong>, 
  receiving responses on 35 cases - with 28 (80.0%) confirming the identified incompatibilities.
  This demonstrates LiScan.AI's practical effectiveness in raising awareness and verifying compliance risks in the AI ecosystem.
</div>

  <hr>
  <div class="post-content">
      <div class="logo">

           <img src="/assets/img/tool.svg" alt="avatar" height="50" width="50">

          <span>
              <a href="https://liscanai.github.io/LiScanAI/"><strong> The first LLM-powered framework for automated detection of license incompatibilities
for AI artifacts.
</strong></a><br>
          </span>
      </div>
      <div class="logo">

           <img src="/assets/img/repository.svg" alt="avatar" height="50" width="50">

          <span>
              <a href="https://liscanai.github.io/ISSUE-REPORTS/">
              <strong>Issue reports submission status<br></strong>
          </a>
          </span>
      </div>

      <div class="logo">

           <img src="/assets/img/download.svg" alt="avatar" height="50" width="50">

          <span>
              <a href="https://liscanai.github.io/Download-Datasets/">
                  <strong>Download the datasets<br></strong>
              </a>
          </span>
      </div>

  </div>

  <div id="d-help-win" class="d-help-win" style="display: none;">
      <div id="win-title">Help
          <span id="d-help-colse" clss="close_2" class="close_2">
              ×
          </span>
      </div>
      <div id="win-content">
          <center><strong><font size="4">A demo of Liscan</font></strong></center>
          <img src="/assets/img/996.gif" alt="avatar">
      </div>
  </div>
