---
layout: page
refactor: true
panel_includes:
- toc
tail_includes:
- related-posts
- post-nav
- comments
---

{% include lang.html %}

<!-- <h1 data-toc-skip>{{ page.title }}</h1> -->


<!--
<div class="post-content">
  {{ content }}
</div>
 -->


<!--test  -->
<div class="table-wrapper">
  <table id="data-table-basic" class="table table-striped">
    <thead>
      <tr style="text-align: center;">
        <th>ID</th>
        <th>Model Name</th>
        <th>Downloads</th>
        <th>Model license</th>
        <th>#Incompatible license pairs</th>
        <th>#Model derivation relationships</th>
        <th>Issue ID</th>
        <th>Stauts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center">1</td>
        <td style="text-align: center">Mistral-Small-24B-Instruct-2501-GGUF</td>
        <td style="text-align: center">188,100</td>
        <td style="text-align: center">Apache2.0</td>
        <td style="text-align: center">None--Apache2.0</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/MaziyarPanahi/Mistral-Small-24B-Instruct-2501-GGUF/discussions/2">#2</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">2</td>
        <td style="text-align: center">SpaceQwen2.5-VL-3B-Instruct</td>
        <td style="text-align: center">10,717</td>
        <td style="text-align: center">Qwen RESEARCH LICENSE AGREEMENT</td>
        <td style="text-align: center">Apache2.0--Qwen RESEARCH LICENSE AGREEMENT</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/remyxai/SpaceQwen2.5-VL-3B-Instruct/discussions/4">#4</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">3</td>
        <td style="text-align: center">CarbonBeagle-11B</td>
        <td style="text-align: center">10,019</td>
        <td style="text-align: center">CC-BY-NC-SA-4.0</td>
        <td style="text-align: center">Apache2.0--CC-BY-NC-SA-4.0</td>
        <td style="text-align: center">Merge</td>
        <td style="text-align: center"><a href="https://huggingface.co/vicgalle/CarbonBeagle-11B/discussions/4">#4</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">4</td>
        <td style="text-align: center">llama-3-chinese-8b-instruct-v3</td>
        <td style="text-align: center">9,408</td>
        <td style="text-align: center">Apache2.0</td>
        <td style="text-align: center">Apache2.0--LLaMA3</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/vicgalle/CarbonBeagle-11B/discussions/4">#4</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">5</td>
        <td style="text-align: center">roberta-large-financial-news-sentiment-en</td>
        <td style="text-align: center">4,964</td>
        <td style="text-align: center">MIT</td>
        <td style="text-align: center">MIT--CC-BY-NC-SA-3.0</td>
        <td style="text-align: center">Global-data</td>
        <td style="text-align: center"><a href="https://huggingface.co/Jean-Baptiste/roberta-large-financial-news-sentiment-en/discussions/3">#3</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">6</td>
        <td style="text-align: center">DeepSeek-R1-Distill-Llama-3B</td>
        <td style="text-align: center">1,792</td>
        <td style="text-align: center">LLaMA3.2</td>
        <td style="text-align: center">MIT--LLaMA3.2</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/suayptalha/DeepSeek-R1-Distill-Llama-3B/discussions/3">#3</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">7</td>
        <td style="text-align: center">ptt5-base-summ-xlsum</td>
        <td style="text-align: center">1,668</td>
        <td style="text-align: center">CC-BY-NC-SA-4.0</td>
        <td style="text-align: center">MIT--CC-BY-NC-SA-4.0</td>
        <td style="text-align: center">Global-data</td>
        <td style="text-align: center"><a href="https://huggingface.co/recogna-nlp/ptt5-base-summ-xlsum/discussions/2#686ff80aa7d0bb4319203b6c">#2</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">8</td>
        <td style="text-align: center">L3.3-Electra-R1-70b</td>
        <td style="text-align: center">1,283</td>
        <td style="text-align: center">eva-LLaMA3.3</td>
        <td style="text-align: center">None--eva-LLaMA3.3</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/Steelskull/L3.3-Electra-R1-70b/discussions/4">#4</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">9</td>
        <td style="text-align: center">Triangulum-10B-GGUF</td>
        <td style="text-align: center">1,087</td>
        <td style="text-align: center">LLaMA3.1</td>
        <td style="text-align: center">Creativeml-OpenRAIL-M--LLaMA3.1</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/bartowski/Triangulum-10B-GGUF/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">10</td>
        <td style="text-align: center">Llama-3.2-1B-it-chinese-kyara</td>
        <td style="text-align: center">1,017</td>
        <td style="text-align: center">LLaMA3.2</td>
        <td style="text-align: center">CC-BY-NC-SA-4.0--LLaMA3.2</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/zake7749/Llama-3.2-1B-it-chinese-kyara/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">11</td>
        <td style="text-align: center">Gemma-3-12b-it-MAX-HORROR-Imatrix-GGUF</td>
        <td style="text-align: center">933</td>
        <td style="text-align: center">Gemma</td>
        <td style="text-align: center">Apache2.0--Gemma</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/DavidAU/Gemma-3-12b-it-MAX-HORROR-Imatrix-GGUF/discussions/7">#7</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">12</td>
        <td style="text-align: center">e5-base-v2-mnli-anli</td>
        <td style="text-align: center">910</td>
        <td style="text-align: center">CC-BY-NC-4.0</td>
        <td style="text-align: center">MIT--CC-BY-NC-4.0</td>
        <td style="text-align: center">Global-data</td>
        <td style="text-align: center"><a href="https://huggingface.co/mjwong/e5-base-v2-mnli-anli/discussions/4">#4</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">13</td>
        <td style="text-align: center">rut5-base-absum</td>
        <td style="text-align: center">905</td>
        <td style="text-align: center">MIT</td>
        <td style="text-align: center">MIT--CC-BY-NC-SA-4.0</td>
        <td style="text-align: center">Global-data</td>
        <td style="text-align: center"><a href="https://huggingface.co/cointegrated/rut5-base-absum/discussions/3">#3</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">14</td>
        <td style="text-align: center">moshika-vis-pytorch-bf16</td>
        <td style="text-align: center">734</td>
        <td style="text-align: center">CC-BY-4.0</td>
        <td style="text-align: center">Gemma--CC-BY-4.0</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/kyutai/moshika-vis-pytorch-bf16/discussions/3">#3</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">15</td>
        <td style="text-align: center">SDXL-EcomID</td>
        <td style="text-align: center">571</td>
        <td style="text-align: center">Apache2.0</td>
        <td style="text-align: center">Apache2.0--OpenRAIL</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/alimama-creative/EcomXL_controlnet_inpaint/discussions/9">#9</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">16</td>
        <td style="text-align: center">PsychoCounsel-Llama3-8B-i1-GGUF</td>
        <td style="text-align: center">474</td>
        <td style="text-align: center">CC-BY-NC-4.0</td>
        <td style="text-align: center">CC-BY-NC-4.0--LLaMA3.1</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/alimama-creative/EcomXL_controlnet_inpaint/discussions/9">#9</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">17</td>
        <td style="text-align: center">text2cypher-gemma-2-9b-it-finetuned-2024v1</td>
        <td style="text-align: center">452</td>
        <td style="text-align: center">Gemma</td>
        <td style="text-align: center">Apache2.0--Gemma</td>
        <td style="text-align: center">Adapter</td>
        <td style="text-align: center"><a href="https://huggingface.co/neo4j/text2cypher-gemma-2-9b-it-finetuned-2024v1/discussions/3">#3</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">18</td>
        <td style="text-align: center">EtherealAurora-12B-v2</td>
        <td style="text-align: center">322</td>
        <td style="text-align: center">Apache2.0</td>
        <td style="text-align: center">None--Apache2.0</td>
        <td style="text-align: center">Merge</td>
        <td style="text-align: center"><a href="https://huggingface.co/yamatazen/EtherealAurora-12B-v2/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">19</td>
        <td style="text-align: center">llama-3.2-typhoon-t1-3b-research-preview-i1-GGUF</td>
        <td style="text-align: center">136</td>
        <td style="text-align: center">LLaMA3.2</td>
        <td style="text-align: center">LLaMA3.2--CC-BY-NC-4.0</td>
        <td style="text-align: center">Global-data</td>
        <td style="text-align: center"><a href="https://huggingface.co/mradermacher/llama-3.2-typhoon-t1-3b-research-preview-i1-GGUF/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">20</td>
        <td style="text-align: center">NousResearch.DeepHermes-3-Llama-3-8B-Preview-GGUF</td>
        <td style="text-align: center">127</td>
        <td style="text-align: center">LLaMA3</td>
        <td style="text-align: center">None--LLaMA3</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/DevQuasar/NousResearch.DeepHermes-3-Llama-3-8B-Preview-GGUF/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">21</td>
        <td style="text-align: center">distilbert-base-re-punctuate</td>
        <td style="text-align: center">91</td>
        <td style="text-align: center">BigScience OpenRAIL-M</td>
        <td style="text-align: center">MIT--BigScience OpenRAIL-M</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/ldenoue/distilbert-base-re-punctuate/discussions/2">#2</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">22</td>
        <td style="text-align: center">et2-experimental</td>
        <td style="text-align: center">70</td>
        <td style="text-align: center">LLaMA2</td>
        <td style="text-align: center">MIT--LLaMA2</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/halflucifer/et2-experimental/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">23</td>
        <td style="text-align: center">vicgalle_Configurable-Hermes-3-Llama-3.1-8B</td>
        <td style="text-align: center">54</td>
        <td style="text-align: center">LLaMA3.1</td>
        <td style="text-align: center">Apache2.0--LLaMA3.1</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/vicgalle/Configurable-Hermes-3-Llama-3.1-8B/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">24</td>
        <td style="text-align: center">NeuralTau-Functions-3B-v1</td>
        <td style="text-align: center">48</td>
        <td style="text-align: center">LLaMA3.2</td>
        <td style="text-align: center">LLaMA2--LLaMA3.2</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/0xroyce/NeuralTau-Functions-3B-v1/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">25</td>
        <td style="text-align: center">PsychoCounsel-Llama3-8B</td>
        <td style="text-align: center">45</td>
        <td style="text-align: center">CC-BY-NC-4.0</td>
        <td style="text-align: center">CC-BY-NC-4.0--LLaMA3.1</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/Psychotherapy-LLM/PsychoCounsel-Llama3-8B/discussions/4">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">26</td>
        <td style="text-align: center">Llama-3-Luminurse-v0.2-OAS-8B-GGUF</td>
        <td style="text-align: center">40</td>
        <td style="text-align: center">CC-BY-NC-4.0</td>
        <td style="text-align: center">CC-BY-NC-4.0--LLaMA3</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/grimjim/Llama-3-Luminurse-v0.2-OAS-8B-GGUF/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">27</td>
        <td style="text-align: center">Llama-3.3-SuperSwallow-70B-Instruct-v0.1</td>
        <td style="text-align: center">37</td>
        <td style="text-align: center">Gemma</td>
        <td style="text-align: center">LLaMA3.3--Gemma</td>
        <td style="text-align: center">Merge</td>
        <td style="text-align: center"><a href="https://huggingface.co/nitky/Llama-3.3-SuperSwallow-70B-Instruct-v0.1/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">28</td>
        <td style="text-align: center">sd15.ic_light.fbc</td>
        <td style="text-align: center">26</td>
        <td style="text-align: center">Creativeml-OpenRAIL-M</td>
        <td style="text-align: center">Apache2.0--Creativeml-OpenRAIL-M</td>
        <td style="text-align: center">Adapter</td>
        <td style="text-align: center"><a href="https://huggingface.co/refiners/sd15.ic_light.fbc/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">29</td>
        <td style="text-align: center">ArlowGPT-8B</td>
        <td style="text-align: center">18</td>
        <td style="text-align: center">LLaMA3.1</td>
        <td style="text-align: center">MIT--LLaMA3.1</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/yuchenxie/ArlowGPT-8B/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">30</td>
        <td style="text-align: center">Mistral_Sonyichi-7B-slerp</td>
        <td style="text-align: center">10</td>
        <td style="text-align: center">OpenRAIL</td>
        <td style="text-align: center">OpenRAIL--CC-BY-NC-4.0</td>
        <td style="text-align: center">Merge</td>
        <td style="text-align: center"><a href="https://huggingface.co/s3nh/Mistral_Sonyichi-7B-slerp/discussions/3">#3</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">31</td>
        <td style="text-align: center">cogvlm2-llama3-caption</td>
        <td style="text-align: center">9,324</td>
        <td style="text-align: center">cogvlm2</td>
        <td style="text-align: center">cogvlm2--LLaMA3.1</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/THUDM/cogvlm2-llama3-caption/discussions/13">#13</a></td>
        <td style="text-align: center">Replied</td>
      </tr>
      <tr>
	<td style="text-align: center">32</td>
        <td style="text-align: center">orpheus-3b-0.1-pretrained</td>
        <td style="text-align: center">5,746</td>
        <td style="text-align: center">Apache2.0</td>
        <td style="text-align: center">Apache2.0--LLaMA3.2</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/canopylabs/orpheus-3b-0.1-pretrained/discussions/4">#4</a></td>
        <td style="text-align: center">Pending</td>
      </tr>
      <tr>
	<td style="text-align: center">33</td>
        <td style="text-align: center">amoral-gemma3-12B-v2</td>
        <td style="text-align: center">1,018</td>
        <td style="text-align: center">Apache2.0</td>
        <td style="text-align: center">Apache2.0--Gemma</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/soob3123/amoral-gemma3-12B-v2/discussions/4">#4</a></td>
        <td style="text-align: center">Pending</td>
      </tr>
      <tr>
	<td style="text-align: center">34</td>
        <td style="text-align: center">Dynamic-Topic-Modeling-Llama-3.2-1B-bnb-4bit</td>
        <td style="text-align: center">948</td>
        <td style="text-align: center">LLaMA3.2</td>
        <td style="text-align: center">MIT--LLaMA3.2</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/AmanPriyanshu/Dynamic-Topic-Modeling-Llama-3.2-1B-bnb-4bit/discussions/3">#3</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">35</td>
        <td style="text-align: center">gemma3-12B-claude-3.7-sonnet-reasoning-distilled</td>
        <td style="text-align: center">1,404</td>
        <td style="text-align: center">Gemma</td>
        <td style="text-align: center">Apache2.0--Gemma</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/reedmayhew/gemma3-12B-claude-3.7-sonnet-reasoning-distilled/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">36</td>
        <td style="text-align: center">SDXL-GGUF</td>
        <td style="text-align: center">407</td>
        <td style="text-align: center">OpenRAIL++</td>
        <td style="text-align: center">MIT--OpenRAIL++</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/HyperX-Sentience/SDXL-GGUF/discussions/1">#1</a></td>
        <td style="text-align: center">Fixed</td>
      </tr>
      <tr>
	<td style="text-align: center">37</td>
        <td style="text-align: center">Llama-3.2-1B-GGUF</td>
        <td style="text-align: center">86</td>
        <td style="text-align: center">Creativeml-OpenRAIL-M</td>
        <td style="text-align: center">Creativeml-OpenRAIL-M--LLaMA3.1</td>
        <td style="text-align: center">Quantize</td>
        <td style="text-align: center"><a href="https://huggingface.co/prithivMLmods/Llama-3.2-1B-GGUF/discussions/1">#1</a></td>
        <td style="text-align: center">Pending</td>
      </tr>
      <tr>
	<td style="text-align: center">38</td>
        <td style="text-align: center">watt-tool-70B</td>
        <td style="text-align: center">1,280</td>
        <td style="text-align: center">Apache2.0</td>
        <td style="text-align: center">Apache2.0--LLaMA3.3</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/watt-ai/watt-tool-70B/discussions/7">#7</a></td>
        <td style="text-align: center">Pending</td>
      </tr>
      <tr>
	<td style="text-align: center">39</td>
        <td style="text-align: center">gemma-3-4b-persian-v0</td>
        <td style="text-align: center">1,625</td>
        <td style="text-align: center">Apache2.0</td>
        <td style="text-align: center">Apache2.0--Gemma</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/mshojaei77/gemma-3-4b-persian-v0/discussions/1">#1</a></td>
        <td style="text-align: center">Pending</td>
      </tr>
      <tr>
	<td style="text-align: center">40</td>
        <td style="text-align: center">leniachat-gemma-2b-v0</td>
        <td style="text-align: center">905</td>
        <td style="text-align: center">Apache2.0</td>
        <td style="text-align: center">Apache2.0--Gemma</td>
        <td style="text-align: center">Fine-tune</td>
        <td style="text-align: center"><a href="https://huggingface.co/LenguajeNaturalAI/leniachat-gemma-2b-v0/discussions/3">#3</a></td>
        <td style="text-align: center">Pending</td>
      </tr>












    </tbody>
</table>
</div>

<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/data-table-act.js"></script>
