---
layout: page
refactor: true
panel_includes:
- toc
tail_includes:
- related-posts
- post-nav
- comments
---

{% include lang.html %}

<!-- <h1 data-toc-skip>{{ page.title }}</h1> -->

<!--
<div class="post-content">
  {{ content }}
</div>
 -->

<!--test  -->
<div class="table-wrapper">
  <table id="data-table-basic" class="table table-striped">
    <thead>
      <tr style="text-align: center;">
        <th>ID</th>
        <th>Project Name</th>
        <th>Stars</th>
        <th>Forks</th>
        <th>#Bloated Dependencies</th>
        <th>#Vulnerabilities</th>
        <th>#Dependency Conflicts</th>
        <th>#Incompatible Licenses</th>
        <th>#Outdated Dependencies</th>
        <th>Issue ID</th>
        <th>Stauts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center">
          1
        </td>
        <td style="text-align: center">
          Tutorials
        </td>
        <td style="text-align: center">
          34.7k
        </td>
        <td style="text-align: center">
          53.9k
        </td>
        <td style="text-align: center">8</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          5
        </td>
        <td style="text-align: center">
          <a href="https://github.com/eugenp/tutorials/pull/13568">#13568</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>
      </tr>
    <tbody>
  </table>

</div>

<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/data-table-act.js"></script>







